/*Variables*/
:root {
  --beige: #F6F1F1;
  --clear-blue: #19A7CE;
  --dark-blue: #146C94;
}


/*Body*/
body {
  font-family: 'Itim', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  min-height: 100vh;
  margin: 0;
}


/*All icons*/
.chosen {
  max-width: 3em;
  padding: 1em;
}
@media (min-width: 400px) {
  .chosen {
    max-width: 4em;
  }
}
@media (min-height: 1300px) {
  .chosen {
    max-width: 5em;
  }
}

.choice {
  max-width: 5em;
  padding: 1em;
}
@media (min-height: 700px) {
  .choice {
  max-width: 6em;
  }
}
@media (min-height: 800px) {
  .choice {
  max-width: 7em;
  }
}
@media (min-height: 900px) {
  .choice {
  max-width: 8em;
  }
}
@media (min-height: 1100px) {
  .choice {
  max-width: 11em;
  }
}
@media (min-height: 1300px) {
  .choice {
  max-width: 12em;
  }
}

/*Header*/
.header {
  background: var(--dark-blue);
  color: var(--beige);
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-height: 1000px) {
  .header {
    font-size: 2em;
  }
}
@media (min-height: 1300px) {
  .header {
    font-size: 3em;
  }
}

.vs {
  font-size: .5em;
}



/*Game info*/
.game-info {
  background: var(--clear-blue);
  min-width: 100vw;
  text-align: center;
  padding: .5em;
  text-transform: uppercase;
}
.scores-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}
.scores {
  max-width: 75px;
}
@media (min-width: 400px) {
  .game-info {
    font-size: 1.1em;
  }
  .scores-container {
    padding: 0;
  }
  .scores {
    max-width: 100px;
  }
}
@media (min-height: 1000px) {
  .game-info {
    font-size: 1.5em;
  }
  .scores-container {
    padding: 0;
  }
  .scores {
    max-width: 100px;
  }
}
@media (min-height: 1300px) {
  .game-info {
    font-size: 2em;
  }
  .scores-container {
    padding: 0;
  }
  .scores {
    max-width: 150px;
  }
}


/*!* Options *!*/
.options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
@media (min-height: 700px) {
  .options-container {
   gap: 2em;
  }
}
@media (min-height: 800px) {
  .options-container {
   gap: 3em;
  }
}
@media (min-height: 800px) {
  .options-container {
   gap: 4.5em;
  }
}
@media (min-height: 1000px) {
  .options-container {
    gap: 2.5em;
  }
}



/*Footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  background: var(--dark-blue);
  margin-top: auto;
  min-width: 100vw;
  padding: .5em;
}
.github {
  max-height: 1.5em;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  -o-transition: transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}
.github:hover {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  max-height: 1.6em;
}


/* Overlay */
.overlay {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}


/* Custom alert */
.custom-alert {
  padding: 20px;
  background: lightcoral;
  z-index: 3;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 1em;
  text-align: center;
}
.play-again {
  background: lightcoral;
  color: black;
  min-width: 10vw;
  padding: 1em;
  border: 5px solid black;
  text-transform: uppercase;
  border-radius: 1em;
}


/* Vibrating icons*/
@-webkit-keyframes vibrate {
  0% {-webkit-transform: translate(0);transform: translate(0);}
  20% {-webkit-transform: translate(-2px, 2px);transform: translate(-2px, 2px);}
  40% {-webkit-transform: translate(-2px, -2px);transform: translate(-2px, -2px);}
  60% {-webkit-transform: translate(2px, 2px);transform: translate(2px, 2px);}
  80% {-webkit-transform: translate(2px, -2px);transform: translate(2px, -2px);}
  100% {-webkit-transform: translate(0);transform: translate(0);}
}
@keyframes vibrate {
  0% {-webkit-transform: translate(0);transform: translate(0);}
  20% {-webkit-transform: translate(-2px, 2px);transform: translate(-2px, 2px);}
  40% {-webkit-transform: translate(-2px, -2px);transform: translate(-2px, -2px);}
  60% {-webkit-transform: translate(2px, 2px);transform: translate(2px, 2px);}
  80% {-webkit-transform: translate(2px, -2px);transform: translate(2px, -2px);}
  100% {-webkit-transform: translate(0);transform: translate(0);}
}
.vibration {
  -webkit-animation: vibrate 0.5s;
          animation: vibrate 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}